// Font
@import url('http://fonts.googleapis.com/css?family=Roboto:400,900,100');
$roboto: 'Roboto';

// URLS
$bg-image: url('../images/bg.gif');
$logo-image: url('../images/logo.png');
$social-image: url('../images/social-media.png');

// Colors
$main-red: #E65C43;
$white: #FFF;
$grey: #666;
$headline-bg: #F25C43;
$footer-bg: #30353D;
$greybar-bg: #F5F6F6;